extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p This is a test site used to teach Shawn about express and node. It will be fun and hopefully help out.
      a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Learn all about this great example website!
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p My services cost money yo!
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get in Touch
        p Really dpeends on the type of touch you have in mind
        a.btn.btn-default(href='#') View Details

